.d-32 {
  width: 32px;
  height: 32px;
}

.d-64 {
  width: 64px;
  height: 64px;
}
.text__purple{
    color: #907CFF;
}

.hoverable-icon:hover{
  background: #161E64;
  color: #fff !important;
  border-radius: 50%;
  cursor: pointer;
}